/* home */
.catagory{
  width:100%;
  height: 170px;
  background-color: yellowgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.asepe_area{
  margin-top: 30px;
  width: 100%;
}
.asepe_area header{
  width: 100%;
  height: 30px;
  background-color: aqua;
  line-height: 30px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 22px;
}
.asepe_list{
  padding-top: 10px;
  width: 100%;
  height:300px;
  background-color: bisque;
  box-sizing: border-box;
}

.asepe_area footer{
  width: 100%;
  height: 80px;
  background-color: yellowgreen;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.asepe_area footer button{
  width: 160px;
  height: 30px;
  border-radius: 5px;
  border:1px solid #ccc;
  background-color: #fff;
}

.editItem{ 
  width: 1024px; 
  margin-bottom: 30px;
  display: flex; 
  justify-content: space-between;
}
.editItem > img{ width: 492px; height: 282px;}
.group{ width: 442px;}
.group h3{font-size: 15px;}
.group p{font-size: 12px;}
.group img{ 
  width: 74px;
  height: 74px;
  border-radius: 5px; 
  margin-right: 10px;} 
.group li{
  display: flex;
  margin-bottom: 10px;
}
.group li div{ 
  
}


.bestPro{width: 1024px;}
.bestPro section{
  width: 1024px;
  display: flex;
  justify-content: flex-start;
} 
.bestPro section div{
  margin-right: 10px;
}
.bestPro section img{
  width: 154px;
  height: 154px;
  border-radius: 5px;
}
.bestPro section h4{
  font-size: 15px;
}
.bestPro section p{
  width: 160px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.bestPro section span{font-size: 12px;}

.bestPro footer{
  width: 100%;
  height: 80px;
  background-color: yellowgreen;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.bestPro footer button{
  width: 160px;
  height: 30px;
  border-radius: 5px;
  border:1px solid #ccc;
  background-color: #fff;
}

